*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: blueviolet;

}
.border{
    border: 1px;
    position: relative;
}